<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
</head>
<style>
.container {
    margin-top: 10px;
    margin-bottom: 50px;
}
.center {
    text-align: center;
}
.pagination {
    display: inline-block;
    text-align: center; 
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.pagination-container {
    text-align: center; /* 버튼을 가운데 정렬 */
}
</style>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey="></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
$(function () {
    var latitude = parseFloat($("input[name='latitude']").val());
    var longitude = parseFloat($("input[name='longitude']").val());
    var position = new kakao.maps.LatLng(latitude, longitude);
    var mapContainer = document.getElementById('map');
    var mapOption = {
        center: position,
        level: 4
    };
    
    var map = new kakao.maps.Map(mapContainer, mapOption);
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: position
    });
    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);
});

$(function(){
    $("tr:gt(9)").hide(); // 처음에는 10번째 행부터 숨김
    $("#load").click(function(e){
        e.preventDefault();
        $("tr:hidden").slice(0, 10).show(); // 클릭할 때마다 10개의 숨은 행을 보여줌
        if($("tr:hidden").length === 0){
            alert("더 이상 항목이 없습니다.");
        }
    });
});
</script>
<body>
<div th:include="header.html"></div>
<div class="container justify-content-center">
<div align="center" >
	<input type="hidden" name="latitude" th:value="${latitude}">
	<input type="hidden" name="longitude" th:value="${longitude}">
		<div style="display: flex; justify-content: space-between;">
    <div style="flex-grow: 1;">
        <table class="center">
            <thead class="table-primary">
                <tr align="center">
                    <td width="500" th:text="${b.stationname}" style="font-size: 20px; font-weight: bold; height: 45px;"></td>
                </tr>
            </thead>
            <tr height="200" align="center">
                <td>
                    <img th:src="@{'/images/terminal/'+${b.filename}}" width="550" height="300">
                </td>
            </tr>
            <tr align="center">
                <td>
                    <div id="map" style="width: 100%; height: 280px;"><br></div>
                </td>
            </tr>
            <tr align="center">
                <td th:text="${b.address}"></td>
            </tr>
        </table>
    </div>
    <div style="flex-grow: 1;">
        <table class="table">
			<thead class="table-primary">
            <tr align="center">
                <td colspan="5" width="30%" style="font-size: 20px; font-weight: bold;" align="center">주변호텔</td>
            </tr>
            </thead>
            <tr th:if="${#lists.isEmpty(hotellist)}">
        	<td colspan="7">
				등록된 호텔이 없습니다
			</td>
    	</tr>
		<tr th:each="h, idx : ${hotellist}">
			<td>
              <img width="150px" height="100px" th:src="'/images/hotels/' + ${filenames[idx.index]}" />
          	</td>
			<td><a th:href="@{'/hotel/hotelcontent/'+${h.hotelno}}" th:text="${h.name}"></a></td>
		    <td th:text="${h.address}"></td>
		    <td th:text="${h.phone}" width="15%"></td>
		    <td th:text="${h.star}"></td>
		</tr>
        </table>
        <div class="pagination-container">
	    <div class="pagination" align="center">
	        <a href="#" id="load">더 보기</a>
	    </div>
	    </div>
    </div>
</div>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</div>
<div th:include="footer.html"></div>
</body>
</html>