<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
</head>
<body>
	<div th:include="header.html"></div>
	<div class="container justify-content-center">
	<hr color="green" width="300">
	<h2>버스관리자</h2>
	<hr color="green" width="300">
	<br>
	<table width="100%" class="outline">
		<tr>
			<th class="m3">아이디</th>
			<th class="m3">이름</th>
			<th class="m3">이메일</th>
			<th class="m3">전화번호</th>
			<th class="m3">가입일</th>
			<th class="m3">회원등급</th>
			<th class="m3">버스관리</th>
			<th class="m3">수정 | 삭제</th>
		</tr>
		<tr th:if="${#lists.isEmpty(list)}">
        	<td colspan="6">
				등록된(찾으시는) 회원이 없습니다.
			</td>
    	</tr>
		<tr th:each="m: ${list}">
		    <td th:text="${m.id}"></td>
		    <td th:text="${m.name}"></td>
		    <td th:text="${m.email}"></td>
		    <td th:text="${m.phone}"></td>
		    <td th:text="${m.joindate}"></td>
		    <td th:text="${m.role}"></td>
			<td>
				<a th:href="@{'/superAD/BADbus_list/'+${m.id}}" th:text="관리"></a>
			</td>
		    <td>
				<a th:href="@{'/superAD/member/update/' + ${m.id}}">수정</a> |
                <a th:href="@{'/superAD/member/delete/' + ${m.id}}">삭제</a>
			</td>
		</tr>
	</table>
	<hr>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	</div>
	<div th:include="footer.html"></div>
</body>
</html>