<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>슈퍼관리자</title>
</head>
<body>
<div align="center">
<h2>슈퍼관리자 페이지</h2>
<table>
	<tr align="center">
		<td><a href="/hotelcheck">관리자계정</a> | </td>
		<td><a href="/hotelAD/hotel/list">호텔관리자 리스트</a> | </td>
		<td><a href="/superAD/member/list">회원리스트</a> | </td>
		<td><a href="/superAD/member/listsearch">회원찾기</a> | </td>
		<td><a href="/home">관리자</a></td>
	</tr>
</table>
</div>
</body>
</html>