<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>버스관리자</title>
</head>
<body>
<div align="center">
<h2>버스관리자 페이지</h2>
<table>
	<tr align="center">
		<td><a href="/bus/list/1">버스리스트</a> | </td>
		<td><a href="/busstation/list/1">터미널리스트</a> | </td>
		<td><a href="/busroad/list/1">버스노선리스트</a> | </td>
		<td><a href="/busresv/list/1">버스예약리스트</a> | </td>
		<td><a href="/home">관리자</a></td>
	</tr>
</table>
</div>
</body>
</html>