<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footer</title>
</head>
<body>
    <!-- 푸터 섹션 -->
    
    <footer class="site-footer">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <nav class="footer-nav clearfix">
                  <ul class="footer-menu">
                     <li><a href="/">Home</a></li>
                     <li><a href="/user_busstation/info">Bus</a></li>
                     <li><a href="/hotel_resv/hotel_resv">Hotel</a></li>
                     <li><a href="/hotel_board/hotel_list/1">Community</a></li>
                     <li><a href="/member/login">Contact</a></li>
                  </ul> <!-- /.footer-menu -->
               </nav> <!-- /.footer-nav -->
            </div> <!-- /.col-md-12 -->
         </div> <!-- /.row -->
         <div class="row" >
            <div class="col-md-12" align="center" >
               <p class="copyright-text">FLEX &copy;</p>
				        대표: 김지수, 박소현 <br />
				        서울시 마포구 월드컵북로 21 풍성빌딩 2층 FLEX <br />
				        Tel: 02-1234-5678 <br />
				        Fax: 02-1234-5679
                    | Company: FLEX
            </div> <!-- /.col-md-12 -->
         </div> <!-- /.row -->
      </div> <!-- /.container -->
   </footer> <!-- /.site-footer -->

</body>
</html>